* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Graphik';
    font-weight: 900;
    src: url('/fonts/GraphikBlack.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 700;
    src: url('/fonts/GraphikBold.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 500;
    src: url('/fonts/GraphikMedium.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 400;
    src: url('/fonts/GraphikRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 600;
    src: url('/fonts/GraphikSemibold.otf') format('opentype');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    src: url('/fonts/GraphikThin.otf') format('opentype');
}

/* header Start  */
header {
    width: 100%;
    position: absolute;
    z-index: 1000;
}

nav {
    max-width: 1210px;
    width: 95%;
    height: 156px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav_links {
    width: 37%;
}

.nav_links ul {
    display: flex;
    align-items: center;
    gap: 21px;
    list-style-type: none;
}

.nav_links ul li {
    width: 17%;
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 15px;
}


.nav_links ul a {
    color: #FFFFFF;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.nav_links ul li :hover {
    color: #2091F9;
    transition: all 0.3s;
}

.brandLogo {
    width: 37%;
    height: 78px;
    padding: 0px 20px;
}

.nav_media {
    width: 26%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;
}

.toggler {
    display: none;
}

/* navBar End */

/* Banner Start  */
.banner {
    background-image: url('/Images/background.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 13/7;
}

.banner_sec {
    max-width: 1440px;
    width: 95%;
    padding: 130px 0 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.banner_txt {
    width: 786px;
    padding: 20px 0;
    margin-top: 144px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.banner_txt h1 {
    font-size: 74px;
    font-family: 'Graphik';
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #FFFFFF;
}

.banner_txt h4 {
    font-size: 28px;
    font-family: 'Graphik';
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #FFFFFF;
}

/* Banner End  */

/* Feature Section Start  */
.container {
    width: 100%;

    &.active {
        background-color: #252B42;
    }
}

.features {
    max-width: 1180px;
    width: 95%;
    padding-top: 65px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.features_txt {
    width: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.features_txt h2 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.2px;
    line-height: 55px;
    text-align: center;
    color: #252B42;
}

.features_txt h4 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.2px;
    line-height: 40px;
    text-align: center;
    color: #374754;
}

.features_items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.item {
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.featureItem_head {
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1px;
    line-height: 28px;
    text-align: center;
    color: #252B42;
}

.featureItem_para {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 25px;
    text-align: center;
    color: #374754;
}

.features_video {
    width: 100%;
    background-image: url('/Images/video_screen.svg');
    background-position: center;
    background-size: cover;
    aspect-ratio: 14/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play_btn {
    width: 187px;
    height: 187px;
    background-color: #2091F9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* Feature Section End  */

/* organize Section start */
.organize {
    max-width: 1243px;
    width: 95%;
    margin: 0 auto;
    padding: 269px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.organize_txt {
    width: 529px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.organize_txt_content {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.organize_txt_content h2 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.2px;
    line-height: 55px;
    color: #252B42;
}

.organize_txt_content h4 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #374754;
}

.try_free_btn {
    width: 236px;
    border: none;
    border-radius: 35px;
    padding: 16px 0;
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background-color: #2091F9;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.laptop_screen {
    width: 646px;
}

/* organize Section End */

/* PhotoGraph Section start */
.photoGraph {
    max-width: 1343px;
    width: 95%;
    margin: 0 auto;
    padding: 43px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_screen {
    width: 677px;
}

.register {
    width: 477px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.register_txt_content h3 {
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.register_txt_content h2 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.register_Email {
    padding: 11px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.register_Email h3 {
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.register_Email p {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #374754;
}

.email {
    display: flex;
    padding: 34px 0;
    gap: 12px;
}

.input_email {
    width: 271px;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    padding: 19px 30px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;
    background-color: #F4F4F4;
    outline: none;
}

.mailBtn {
    width: 172px;
    border: none;
    border-radius: 35px;
    padding: 19px 38px;
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background-color: #2091F9;
    cursor: pointer;
}

/* PhotoGraph Section End */

/* Client Section Start */
.client {
    max-width: 1342px;
    width: 95%;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.partner {
    width: 530px;
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.partner h2 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.partner h4 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #374754;
}

.clientsLogo {
    width: 84%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo_box {
    width: 268px;
    padding: 31px 0;
    border: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo_box h6 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: #374754;
}

/* Client Section End */

/* designer Section start */
.designer,
.pricing {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.designer_title h2 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.about_IBM {
    width: 987px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.about_IBM h4 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #374754;
}

.about_designer {
    display: flex;
    align-items: center;
    gap: 13px;
}

.visit_designer h5 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: #374754;
}

.visit_designer p {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #252B42;
    cursor: pointer;
}

.visit_designer:hover p {
    text-decoration: underline;
}

.designer_btn {
    width: 276px;
    border: none;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    background-color: #2091F9;
    text-decoration: none;
    cursor: pointer;
}

/* designer Section End */

/* Pricing Section start */

.pricing_txt_content {
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.pricing_txt_content h2 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.pricing_txt_content h4 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #FFFFFF;
}

.sales_deal {
    display: flex;
    align-items: center;
    gap: 50px;
}

.deal {
    width: 335px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #DEDEDE;
    border-radius: 11px;
    background-color: #FFFFFF;

    &.active {
        background-color: #2091F9;
        padding: 83px 40px;
    }
}

.head {
    width: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.head h3 {
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;

    &.active {
        color: #FFFFFF;
    }
}

.head h6 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #374754;

    &.active {
        color: #FFFFFF;
    }
}

.price {
    display: flex;
    align-items: center;
    gap: 11px;
}

.price h1 {
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    color: #252B42;

    &.active {
        color: #FFFFFF;
    }
}

.doller {
    display: flex;
    flex-direction: column;
}

.doller h3 {
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;

    &.active {
        color: #FFFFFF;
    }
}

.doller h6 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: #374754;

    &.active {
        color: #FFFFFF;
    }
}

.feature_row ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.feature_row ul li {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #252B42;

    &.active {
        color: #FFFFFF;
    }
}

.confirm_deal {
    width: 100%;
    padding: 18px 0;
    border: none;
    border-radius: 35px;
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background-color: #2091F9;
    cursor: pointer;

    &.active {
        color: #2091F9;
        background-color: #FFFFFF;
    }
}

/* Pricing Section End */

/* Contact Section start */
.contact {
    max-width: 1228px;
    width: 95%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact_txt {
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.contact_txt h2 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.contact_txt h4 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #374754;
}

.contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.signUp_form {
    width: 453px;
    padding: 52px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
}

.signUp_form h3 {
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.name,
.Email {
    width: 80%;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    padding: 19px 20px;
    background-color: #F5F5F5;
    outline: none;
}

.selfAbout {
    width: 80%;
    height: 193px;
    padding: 23px 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;
    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
    outline: none;
    resize: none;
}

.btn {
    padding-left: 41px;
    width: 100%;
}

.signUp_btn {
    width: 145px;
    border: none;
    border-radius: 35px;
    padding: 18px 0;
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background-color: #2091F9;
    cursor: pointer;
}

.our_info {
    width: 725px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.information {
    display: flex;
    gap: 15px;
}

.address {
    width: 313px
}

.phone {
    width: 137px;
}

.mail {
    width: 245px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.block img {
    width: 26px;
    height: 32px;
}

.block h6 {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #374754;
    cursor: pointer;
}

.map {
    width: 100%;
    display: flex;
    justify-content: center;
}

.social_icon {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* Contact Section End */

/* Footer start */
.footer {
    max-width: 991px;
    width: 95%;
    padding: 150px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.visitSite {
    width: 582px;
    display: flex;
    gap: 20px;
}

.footer_menu {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_menu h3 {
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.footer_menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_menu ul li {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}

.footer_menu ul a {
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_menu ul li :hover {
    color: #2091F9;
    transition: all 0.3s;
}

.our_netWork {
    width: 284px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.location,
.Ph_num {
    display: flex;
    align-items: center;
}

.location p,
.Ph_num p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.foot_media {
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 24px;
}

/* Footer End */

/* For Tablet */
@media only screen and (min-width: 600px) and (max-width: 1199px) {

    /* navBar Start  */
    nav {
        max-width: 1000px;
        height: 100px;
    }

    .nav_links {
        width: 44%;
    }

    .nav_links ul {
        gap: 1px;
    }

    .nav_links ul li {
        width: 20%;
    }

    .nav_links ul a {
        font-size: 13px;
    }

    .brandLogo {
        width: 31%;
        height: 60px;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .nav_media {
        width: 25%;
        gap: 15px;
    }

    .nav_media img {
        width: 30px;
        height: 24px;
    }

    /* navBar End */

    /* Banner Start  */
    .banner_sec {
        max-width: 1200px;
        height: 770px;
        gap: 30px;
    }

    .banner_txt {
        width: 555px;
        margin-top: 100px;
    }

    .banner_txt h1 {
        font-size: 58px;
        font-weight: 600;
        line-height: 75px;
    }

    .banner_txt h4 {
        font-size: 25px;
        line-height: 35px;
    }

    /* Banner End  */

    /* Feature Section Start  */
    .features {
        max-width: 1000px;
        padding-top: 55px;
        gap: 40px;
    }

    .features_txt {
        width: 355px;
        gap: 7px;
    }

    .features_txt h2 {
        font-size: 30px;
    }

    .features_txt h4 {
        font-size: 17px;
        line-height: 25px;
    }

    .features_items {
        gap: 30px;
    }

    .features_items img {
        width: 35px;
    }

    .featureItem_head {
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
    }

    .featureItem_para {
        font-size: 12px;
        line-height: 21px;
    }

    .play_btn {
        width: 120px;
        height: 120px;
    }

    .play_btn img {
        width: 30px;
        height: 38px;
    }

    /* Feature Section End  */

    /* organize Section start */
    .organize {
        max-width: 1000px;
        padding: 172px 0;
    }

    .organize_txt {
        gap: 30px;
    }

    .organize_txt_content {
        gap: 12px;
    }

    .organize_txt_content h2 {
        font-size: 40px;
        line-height: 41px;
    }

    .organize_txt_content h4 {
        font-size: 21px;
        line-height: 30px;
    }

    .organize_btn {
        width: 141px;
        font-size: 15px;
        line-height: 21px;
    }

    .laptop_screen {
        width: 388px;
    }

    /* organize Section End */

    /* PhotoGraph Section start */
    .photoGraph {
        max-width: 1000px;
        padding: 30px 0;
    }

    .img_screen {
        width: 335px;
    }

    .register {
        width: 330px;
        gap: 11px;
    }

    .register_txt_content h3 {
        font-size: 15px;
        line-height: 21px;
    }

    .register_txt_content h2 {
        font-size: 40px;
        line-height: 41px;
    }

    .register_Email {
        padding: 7px;
        gap: 11px;
    }

    .register_Email h3 {
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
    }

    .register_Email p {
        font-size: 14px;
        line-height: 21px;
    }

    .email {
        display: flex;
        padding: 25px 0;
        gap: 10px;
    }

    .input_email {
        width: 200px;
        border-radius: 30px;
        padding: 12px 18px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.1px;
    }

    .mailBtn {
        width: 110px;
        border-radius: 30px;
        padding: 12px 18px;
        font-size: 12px;
        line-height: 12px;
    }

    /* PhotoGraph Section End */

    /* Client Section Start */
    .client {
        max-width: 1000px;
        padding: 40px 0;
        gap: 40px;
    }

    .partner {
        width: 412px;
        padding-top: 25px;
        gap: 5px;
    }

    .partner h2 {
        font-size: 35px;
        line-height: 41px;
    }

    .partner h4 {
        font-size: 21px;
        line-height: 30px;
    }

    .logo_box {
        width: 172px;
        padding: 21px 0;
        gap: 11px;
    }

    .logo_box h6 {
        font-size: 12px;
        line-height: 18px;
    }

    .logo_box img {
        width: 121px;
    }

    /* Client Section End */

    /* designer Section start */
    .designer,
    .pricing {
        max-width: 1000px;
        padding: 50px 0;
        gap: 40px;
    }

    .designer_title h2 {
        font-size: 35px;
        line-height: 41px;
    }

    .about_IBM {
        width: 487px;
        gap: 35px;
    }

    .IBM_logo {
        width: 141px;
    }

    .about_IBM h4 {
        font-size: 23px;
        line-height: 30px;
    }

    .about_designer {
        gap: 10px;
    }

    .visit_designer h5 {
        font-size: 12px;
        line-height: 18px;
    }

    .visit_designer p {
        font-size: 12px;
        line-height: 21px;
    }

    .designer_btn {
        width: 200px;
        border-radius: 30px;
        padding: 16px 0;
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
    }

    /* designer Section End */

    /* Pricing Section start */

    .pricing_txt_content {
        width: 412px;
        gap: 7px;
    }

    .pricing_txt_content h2 {
        font-size: 35px;
        line-height: 41px;
    }

    .pricing_txt_content h4 {
        font-size: 23px;
        line-height: 30px;
    }

    .sales_deal {
        gap: 25px;
    }

    .deal {
        width: 235px;
        padding: 20px;
        gap: 21px;

        &.active {
            padding: 60px 20px;
        }
    }

    .head {
        width: 92px;
        gap: 7px;
    }

    .head h3 {
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
    }

    .head h6 {
        font-size: 12px;
        line-height: 17px;
    }

    .price {
        gap: 7px;
    }

    .price h1 {
        font-weight: 600;
        font-size: 55px;
        line-height: 50px;
    }

    .doller h3 {
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
    }

    .doller h6 {
        font-size: 12px;
        line-height: 17px;
    }

    .feature_row ul {
        gap: 11px;
    }

    .feature_row ul li {
        font-size: 12px;
        line-height: 21px;
    }

    .confirm_deal {
        padding: 16px;
        border-radius: 30px;
        font-size: 16px;
        line-height: 15px;
    }

    /* Pricing Section End */

    /* Contact Section start */
    .contact {
        max-width: 1000px;
        padding: 25px 0;
        gap: 25px;
    }

    .contact_txt {
        width: 412px;
        gap: 12px;
    }

    .contact_txt h2 {
        font-size: 35px;
        line-height: 41px;
    }

    .contact_txt h4 {
        font-size: 23px;
        line-height: 35px;
    }

    .contact_info {
        gap: 25px;
    }

    .signUp_form {
        width: 250px;
        padding: 25px 0;
        gap: 25px;
        border-radius: 17px;
    }

    .signUp_form h3 {
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
    }

    .name,
    .Email {
        width: 85%;
        font-size: 12px;
        line-height: 12px;
        border-radius: 30px;
        padding: 11px 12px;
    }

    .selfAbout {
        width: 85%;
        height: 112px;
        padding: 13px 10px;
        font-size: 12px;
        line-height: 12px;
    }

    .btn {
        padding-left: 21px;
        width: 100%;
    }

    .signUp_btn {
        width: 100px;
        border-radius: 30px;
        padding: 16px 0;
        font-size: 16px;
        line-height: 15px;
    }

    .our_info {
        width: 400px;
        gap: 25px;
    }

    .information {
        display: flex;
        gap: 7px;
    }

    .address {
        width: 175px
    }

    .phone {
        width: 95px;
    }

    .mail {
        width: 220px;
    }

    .block {
        gap: 7px;
    }

    .block img {
        width: 16px;
        height: 18px;
    }

    .block h6 {
        font-size: 11px;
        line-height: 17px;
    }

    .map img {
        width: 316px;
    }

    .social_icon {
        gap: 17px;
    }

    .social_icon img {
        width: 25px;
    }

    /* Contact Section End */

    /* Footer start */
    .footer {
        max-width: 644px;
        padding: 75px 0;
    }

    .visitSite {
        width: 378px;
        gap: 13px;
    }

    .footer_menu {
        width: 117px;
        gap: 12px;
    }

    .footer_menu h3 {
        font-weight: 600;
        font-size: 17px;
        line-height: 18px;
    }

    .footer_menu ul {
        gap: 11px;
    }

    .footer_menu ul a {
        font-size: 12px;
        line-height: 20px;
    }

    .our_netWork {
        width: 184px;
        gap: 7px;
    }

    .location p,
    .Ph_num p {
        font-size: 12px;
        line-height: 17px;
    }

    .location img {
        width: 40px;
    }

    .Ph_num img {
        width: 30px;
    }

    .foot_media {
        padding: 12px 0;
        gap: 16px;
    }

    .foot_media img {
        width: 25px;
    }

    /* Footer End */

}

/* for mobile  */
@media only screen and (max-width: 599px) {

    /* navBar Start  */

    .header {
        padding: 17px;
    }

    nav {
        max-width: 485px;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav_links,
    .nav_media {
        display: none;
    }

    .toggler {
        display: flex;
    }

    .brandLogo {
        width: 206px;
        padding: 0;
    }

    .brandLogo img {
        width: 186px;
    }

    /* navBar End */

    /* Banner Start  */
    .banner {
        padding: 30px 20px;
    }

    .banner_sec {
        max-width: 378px;
        padding: 50px 0;
        gap: 59px;
    }

    .banner_txt {
        width: 353px;
        padding: 0;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .banner_txt h1 {
        font-size: 48px;
        font-weight: 400;
        line-height: 55px;
    }

    .banner_txt h4 {
        font-size: 26px;
        line-height: 33px;
    }

    .try_free_btn {
        width: 200px;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }

    /* Banner End  */

    /* Feature Section Start  */

    .features {
        max-width: 485px;
        padding: 80px 0;
        gap: 50px;
    }

    .features_txt {
        width: 285px;
        gap: 7px;
    }

    .features_items {
        width: 355px;
        padding: 18px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 75px;
    }

    .features_video {
        background-image: url('/Images/laptop_screen.png');
    }

    .play_btn {
        width: 61px;
        height: 61px;
        border: none;
    }

    .play_btn img {
        width: 12px;
    }

    /* Feature Section End  */

    /* organize Section start */
    .organize {
        max-width: 485px;
        padding: 50px 0;
        flex-direction: column;
        align-items: center;
        gap: 59px;
    }

    .organize_txt {
        width: 355px;
        align-items: center;
        gap: 59px;
    }

    .organize_txt_content {
        text-align: center;
        gap: 21px;
    }

    .laptop_screen {
        width: 378px;
    }

    /* organize Section End */

    /* PhotoGraph Section start */
    .photoGraph {
        max-width: 485px;
        padding: 59px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 59px;
    }

    .img_screen {
        width: 389px;
    }

    .register {
        width: 373px;
        gap: 13px;
    }

    .register_txt_content {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    .register_Email {
        align-items: center;
    }

    .email {
        flex-direction: column;
        padding: 24px 0;
    }

    .input_email {
        width: 353px;
        padding: 19px 35px;
    }

    .mailBtn {
        width: 353px;
        padding: 17px 0;
    }

    /* PhotoGraph Section End */

    /* Client Section Start */
    .client {
        max-width: 485px;
        padding: 50px 20px;
    }

    .partner {
        width: 330px;
        padding-top: 0;
        gap: 21px;
    }

    .clientsLogo {
        padding: 18px 0;
        gap: 30px;
    }

    .logo_box {
        width: 273px;
        padding: 25px 0;
    }

    .disable{
        display: none;
    }

    /* Client Section End */

    /* designer Section start */
    .designer,
    .pricing {
        max-width: 485px;
    }

    .about_IBM {
        width: 297px;
        gap: 45px;
    }

    .IBM_logo {
        width: 126px;
    }

    .about_IBM h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.17px;
    }

    .about_designer {
        gap: 11px;
    }

    /* designer Section End */

    /* Pricing Section start */

    .pricing_txt_content {
        width: 330px;
        gap: 21px;
    }

    .sales_deal {
        padding: 18px;
        flex-direction: column;
        gap: 50px;
    }

    /* Pricing Section End */

    /* Contact Section start */
    .contact {
        max-width: 485px;
        align-items: center;
    }

    .contact_txt {
        width: 330px;
        gap: 21px;
    }

    .contact_info {
        width: 100%;
        flex-direction: column-reverse;
    }

    .signUp_form {
        width: 378px;
    }

    .our_info {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .information {
        flex-direction: column;
        padding: 18px 0;
        gap: 21px;
    }

    .address {
        width: 100%;
    }

    .phone {
        width: 100%;
    }

    .mail {
        width: 100%;
    }

    .block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 21px;
    }

    .block img {
        width: 26px;
    }

    .block h6 {
        font-family: 'Graphik';
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.1px;
        text-align: left;
        color: #374754;
        cursor: pointer;
    }

    .map {
        display: none;
    }

    /* Contact Section End */

    /* Footer start */
    .footer {
        max-width: 285px;
        padding: 150px 0;
        flex-direction: column;
        align-items: center;
        gap: 76px;
    }

    .visitSite {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 73px;
    }

    .footer_menu {
        width: 186px;
        flex-direction: column;
        text-align: center;
        gap: 21px;
    }

    .our_netWork {
        width: 100%;
        gap: 16px;
    }

    .foot_media {
        justify-content: center;
    }

    /* Footer End */

}